@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

.custom-section {
  @apply max-w-screen-xl mx-auto px-4 mt-4;
}

.custom-button {
  @apply bg-custom-blue px-4 py-2 flex justify-center items-center rounded-lg text-white text-sm;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(238, 238, 238) 0%, rgb(231, 231, 231) 100%);
}
